<p id="notice"><%= notice %></p>

<section>
  <section>
    <article>
      <img src="<%= @user.photo %>">
    </article>
  </section>
  <section>
    <h2>More info</h2>
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :photo %><br>
        <%= f.url_field :photo %>
      </div>
      <div class="field">
        <%= f.label :interests %><br>
        <% interests_array = Interest.all.map { |interest| [interest.name, interest.name] } %>
        <%= select_tag(:interests, options_for_select(interests_array), multiple: true, size: 10) %>
        <%#= f.check_box :interests_array, {}, true, false %>
      </div>
      <div class="field">
        <%= f.label :age %><br>
        <% ages_array = Age.all.map { |age| [age.range, age.range] } %>
        <%= f.select(:age, ages_array) %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </section>
</section>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
