<!DOCTYPE html>
<html>
<head>
  <title>MeetApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id='head'>
	<img src="https://si0.twimg.com/profile_images/482041262/apple-touch-icon-trans-bkgd.png" alt="">
	<h1>MEETAPP</h1>
</header>
<section>
  <% if current_user %>
    <%= link_to 'Log out', log_out_path %>
  <% end %>
</section>

<%= yield %>
<footer id='foot'>
	<h1>Copyright blabla</h1>
</footer>
</body>
</html>
