<!DOCTYPE html>
<html>
<head>
  <title>MeetApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section>
  <% if current_user %>
    <%= link_to 'Log out', log_out_path %>
  <% end %>
</section>

<%= yield %>

</body>
</html>
